{% extends 'challenge/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load challenge_extras %}

{% block content %}

    <div class="container">
        <p>Welcome back <b>{{ account.first_name }} {{ account.middle_name }} {{ account.last_name }}</b></p>

        <div class="row row-cols-1 row-cols-md-4 gx-2">
          <div class="col themed-grid-col">Cash Balance</div>
          <div class="col themed-grid-col">Investments</div>
          <div class="col themed-grid-col">Portfolio Total</div>
          <div class="col themed-grid-col">Trades Last 5 Days</div>
          <div class="col themed-grid-col">{{ account.cash|currency }}</div>
          <div class="col themed-grid-col">{{ investments|currency }}</div>
          <div class="col themed-grid-col">{{ portfolio_total|currency }}</div>
          <div class="col themed-grid-col"><code>.col</code> with <code>.gx-4</code> gutters</div>
        </div>

        <br>

        <h4>Portfolio</h4>

        <div class="row portfolio-header-row gx-2">
            <div class="col-md-2">Symbol<br>Company Name</div>
            <div class="col-md-1 text-end">Qty</div>
            <div class="col-md-1 text-end" >Avg<br>Price</div>
            <div class="col-md-1 text-end">Cost</div>
            <div class="col-md-1 text-end">Bid</div>
            <div class="col-md-1 text-end">Ask</div>
            <div class="col-md-1 text-end">Volume<br>(000s)</div>
            <div class="col-md-1 text-end">Market<br>Value</div>
            <div class="col-md-1 text-end">Change</div>
            <div class="col-md-2 text-end">52w Range</div>
        </div>

        {% if object_list %}

            {%  for item in object_list %}
                <div class="row portfolio-grid-col gx-2">
                    <div class="col-md-2">{{ item.stock_symbol }}<br>{{ item.company_name }}</div>
                    <div class="col-md-1 text-end">{{ item.no_of_shares_owned }}</div>
                    <div class="col-md-1 text-end">{{ item.avg_price|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.total_cost|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.bid|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.ask|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.volume }}</div>
                    <div class="col-md-1 text-end">{{ item.market_value|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.change|currency }}</div>
                    <div class="col-md-2 text-end">{{ item.fiftyTwoWeekRange }}</div>
                </div>
            {% endfor %}

        {% else %}
            <h6>You have no holdings in your Portfolio</h6>
        {% endif %}
    </div>

{% endblock %}
