{% extends 'challenge/base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
    <div class="container">

       <h4>Markets Today</h4>
        {% if index_list %}
            <div class="row row-cols-1 row-cols-md-3 gx-2">
                {% for item in index_list %}
                    <div class="col themed-grid-col">
                        {{ item.fullExchangeName }} - {{ item.shortName }} -
                        <b>{{ item.regularMarketPreviousClose.raw|floatformat:'1' }}</b></div>
                {% endfor %}
            </div>
        {% else %}
            Market Indices not available at this time. Try again later.<br>
        {% endif %}

        <br>

        <h4>News Headlines</h4>

        {% if news_headlines %}
            <table class="table">
                {% for item in news_headlines %}
                    <tr>
                        <td>{{ item.content.title }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            News Headlines not available at this time. Try again later.<br>
        {% endif %}

    </div>

{% endblock %}
