{% extends 'challenge/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load challenge_extras %}

{% block content %}

    <div class="container">
       <h4>Transaction History</h4>

        <div class="row portfolio-header-row gx-2">
            <div class="col-md-2" >Stock Symbol</div>
            <div class="col-md-1 text-end">Txn Date</div>
            <div class="col-md-1 text-end">Activity</div>
            <div class="col-md-1 text-end">Price</div>
            <div class="col-md-1 text-end">Quantity</div>
            <div class="col-md-2 text-end">Txn Value</div>
        </div>
{##}
        {% if txn_history %}
            {%  for entry in txn_history %}
                <div class="row portfolio-holding-row gx-2">
                    <div class="col-md-2">{{ entry.stock_symbol }}</div>
                    <div class="col-md-1 text-end">{{ entry.txn_date|date:'d-m-y' }}</div>
                    <div class="col-md-1 text-end">{{ entry.get_activity_display }}</div>
                    <div class="col-md-1 text-end">{{ entry.price|currency }}</div>
                    <div class="col-md-1 text-end">{{ entry.quantity }}</div>
{#                    <div class="col-md-2 text-end">{{ entry.value|currency }}</div>#}
                    <div class="col-md-2 text-end">{{ entry.amount|currency }}</div>
                </div>
            {% endfor %}
        {% else %}
            <br>
            <h6>There are no Transactions in your account OR Quotes are not available at this time.</h6>
        {% endif %}

    </div>

{% endblock %}
