{% extends 'challenge/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load challenge_extras %}

{% block content %}

    <div class="container">
       <h4>Watchlists</h4>

        <div class="bd-example">
        <nav aria-label="Standard pagination example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        </div>

        <div class="watchlist_title align-items-center">
            <form id="title_form">
                <label for="new_title"><b>Watchlist Title: </b>&nbsp</label>
            <input type="text" id="new_title" value="{{ watchlist.title }} &nbsp">
{#            <text class="form-control" id="new_title" placeholder="{{ title }}">#}
{#            <input type="submit" value="Update"#}
            <input type="button" value=" Update "
                   onclick="titleUpdate({{ watchlist.id }})" class="btn-primary btn-sm" />
            </form>
        </div>

        <div class="watchlist_item">
            <form method="post" action="{% url 'watchlistitem' watchlist.id %}">
                {% csrf_token %}
                <label for="symbol"><b>Symbol to add to Watchlist: </b>&nbsp</label>
                {{ watchlist_item }}
                <input type="submit" value=" Add " class="btn-sm btn-primary" />
{#                    onclick="{% url 'watchlistitem' watchlist.id %}" class="btn-primary btn-sm" />#}
            </form>
        </div>

        <div class="row portfolio-header-row gx-2">
            <div class="col-md-2">Symbol<br>Company Name</div>
            <div class="col-md-1 text-end">Date Added</div>
            <div class="col-md-1 text-end" >Price</div>
            <div class="col-md-1 text-end">Bid</div>
            <div class="col-md-1 text-end">Ask</div>
            <div class="col-md-1 text-end">Price Change</div>
            <div class="col-md-2 text-end">52w Range</div>
            <div class="col-md-2 text-end">Target Price</div>
        </div>
{##}
        {% if object_list %}
            {%  for item in object_list %}
                <div class="row portfolio-grid-col gx-2">
                    <div class="col-md-2">{{ item.symbol }}<br>{{ item.longName }}</div>
                    <div class="col-md-1 text-end">{{ item.date_added|date:'d-m-y' }}</div>
                    <div class="col-md-1 text-end">{{ item.price_when_added|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.bid|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.ask|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.price_change|currency }}</div>
                    <div class="col-md-2 text-end">{{ item.fiftyTwoWeekRange }}</div>
                    <div class="col-md-1 text-end">{{ item.targetPriceLow|currency }}<br>(Low)</div>
                    <div class="col-md-1 text-end">{{ item.targetPriceHigh|currency }}<br>(High)</div>

                </div>
            {% endfor %}
        {% else %}
            <br>
            <h6>You have no Items in this Watchlist OR Quotes are not available at this time.</h6>
        {% endif %}

    </div>

{% endblock %}
