{% extends 'challenge/base.html' %}
{% load bootstrap5 %}
{% load static %}
{% load challenge_extras %}

{% block content %}

    <div class="container">
       <h4>Watchlists</h4>

        <div class="watchlist_title align-items-center">
            <form id="title_form">
                <label for="new_title"><b>Watchlist Title: </b>&nbsp</label>
            <input type="text" id="new_title" value="{{ watchlist.title }} &nbsp">
            <input type="button" value=" Update "
                   onclick="titleUpdate({{ watchlist.id }})" class="btn-primary btn-sm" />
            </form>
        </div>

        <div class="watchlist_item">
            <form method="post">
                {% csrf_token %}
                <label for="symbol"><b>Symbol to add to Watchlist: </b>&nbsp</label>
                {{ watchlistitem_form }}
                <input type="submit" value=" Add " class="btn-sm btn-primary" />
            </form>
        </div>

        <br>

        <div class="row portfolio-header-row gx-2">
            <div class="col-md-2">Symbol<br>Company Name</div>
            <div class="col-md-1 text-end">Date Added</div>
            <div class="col-md-1 text-end" >Price When Added</div>
            <div class="col-md-1 text-end">Bid</div>
            <div class="col-md-1 text-end">Ask</div>
            <div class="col-md-1 text-end">Price Change</div>
            <div class="col-md-2 text-end">52w Range</div>
            <div class="col-md-2 text-end">Target Price</div>
            <div class="col-md-1 text-center">Remove</div>
        </div>
{##}
        {% if watchlist_items %}
            {%  for item in watchlist_items %}
                <div class="row portfolio-holding-row gx-2">
                    <div class="col-md-2">{{ item.symbol }}<br>{{ item.longName }}</div>
                    <div class="col-md-1 text-end">{{ item.date_added|date:'d-m-y' }}</div>
                    <div class="col-md-1 text-end">{{ item.price_when_added|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.bid|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.ask|currency }}</div>
                    <div class="col-md-1 text-end">{{ item.price_change|currency }}</div>
                    <div class="col-md-2 text-end">{{ item.fiftyTwoWeekRange }}</div>
                    <div class="col-md-1 text-end">{{ item.targetPriceLow|currency }}<br>(Low)</div>
                    <div class="col-md-1 text-end">{{ item.targetPriceHigh|currency }}<br>(High)</div>
                    <div class="col-md-1 text-center">
                        <a href="{% url 'remove_watchlist_item' item.id %}"
                           title="Remove"><b>X</b></a></div>

                </div>
            {% endfor %}
        {% else %}
            <br>
            <h6>You have no Items in this Watchlist OR Quotes are not available at this time.</h6>
        {% endif %}

    </div>

{% endblock %}
