.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.text-x-small {
  font-size: 70%;
}

.dropdown-toggle {
  outline: 0;
}
.btn, .nav {
  font-size: 15px;
}

.intro {
  font-size: 20px;
}

#about {
  position: absolute;
  display: none;
  width: 50%;
  height: 400px;
  margin: auto;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  padding: 70px 0;
  text-align: center;
  background-color: #77adcf;
  cursor: pointer;
}

.themed-container {
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: rgba(0, 123, 255, .15);
  border: 1px solid rgba(0, 123, 255, .2);
}

.themed-grid-col {
  padding-top: .50rem;
  padding-bottom: .50rem;
  text-align: center;
  font-size: 85%;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
  //margin: auto;
}

.portfolio-header-row {
  padding-top: .50rem;
  padding-bottom: .50rem;
  //text-align: center;
  //vertical-align: center;
  font-size: 85%;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

.indices {
  border-collapse: collapse;
  alignment: center;
  //width: 75%;
  //margin: auto;
}
.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 5px;
  margin: 0;
}

// Table background even rows
//tr:nth-child(even) {
//  background: #eee;
//}
//
//// Table backgroup odd rows
//tr:nth-child(odd) {
//  background: #ddd;
//}
.portfolio-grid-col {
  display: grid;
  //width: auto;
  //padding-top: .50rem;
  //padding-bottom: .50rem;
  padding: 5px;
  font-size: 85%;
  border-collapse: collapse;
  border-bottom: 1px dimgrey;
  //margin: 10px;
  //grid-template-columns: 3fr;
  grid-template-rows: auto;
}
